body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.menu {
  margin-top: 50px;
}

.menu-list {
  display: flex;
  justify-content: flex-start;
}

.menu-link {
  padding: 25px;
  border-bottom: 5px solid #00a9ff;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #333333;
}

.menu-link:hover {
  background-color: #00a9ff;
}

.menu-submenu {
  position: relative;
}

.menu-submenu:hover .submenu,
.submenu>.subitem:hover .subitem-menu {
  display: block;
}

.submenu {
  position: absolute;
  display: none;
  top: 47px;
  left: 0;
}

.subitem {
  position: relative;
  background-color: #00a9ff;
  border: 1px solid #0084ef;
}

.subitem:last-child {
  border-radius: 0 0 5px 5px;
}

.subitem-link {
  position: relative;
  width: 230px;
  height: 41px;
  padding-top: 25px;
  padding-left: 20px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

.subplus::after {
  content: '+';
  position: absolute;
  top: 25px;
  right: 20px;
}

.subitem-menu {
  position: absolute;
  left: 250px;
  top: -1px;
  display: none;
}